<h1 class="text-5xl text-center py-10">All Store</h1>
<button class="store-btn ml-4" id="btn">get position</button>
<table class="text-left mx-auto w-5/6">
  <thead>
    <tr>
      <th scope="col">StoreName</th>
      <th scope="col">Latitude</th>
      <th scope="col">Longitude</th>
      <th scope="col">Address</th>
    </tr>
  </thead>
  <tbody>
    <% @stores.each do |store| %>
    <tr>
      <th scope="row"><%= store.store_name %></th>
      <td><%= store.latitude %></td>
      <td><%= store.longitude %></td>
      <td><%= store.address %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%#= content_tag :button, 'Get Store', class: 'get_location' %>
<%#= tag :div, class: 'location_result_list' %>

<script>
  const btn = document.getElementById('btn')
  const options = {
    maximumAge: 0,
    timeout:5000,
    enableHighAccuracy:true
  }

  function success(position) {
    console.log(position.coords.latitude, position.coords.longitude);
  }

  function error(err) {
    console.warn('ERROR(' + err.code + '): ' + err.message);
    alert('You can\'t get the position!')
  }

  btn.addEventListener('click', (e) => {
    e.preventDefault()
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(success, error, options)
    }
  })
</script>
